.reveal {
  font-size: 32px;
}
.reveal code {
  background-color: rgb(240, 240, 240);
  border-radius: 6px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
  padding: .1ex 0;
  font-size: 90%;
}
